/* ДЕБЕЛИ БОРДЕРИ - ИСТО КАКО WORD */
.question-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;       /* надворешен дебел бордер */
}

.question-table th,
.question-table td {
    border: 1px solid black;       /* внатрешни бордери */
    padding: 8px;
}

/* Заглавија */
.question-table th {
    background-color: #f1f1f1;
    text-align: center;
    font-weight: bold;
}

/* Колони */
.col-question {
    width: 60%;
}

.col-header {
    width: 120px;
}

.radio-cell {
    text-align: center;
}

.points-cell {
    text-align: center;
    width: 80px;
}
/* Доколку сакате опциите ДА/НЕ да бидат поголеми и задебелени */
.form-check-label {
    font-size: 1.1rem; /* Малку поголем фонт */
    font-weight: bold; /* Задебелен */
}

/* Доколку сакате квадратите за избирање да се поголеми */
.form-check-input {
    width: 1.25em;
    height: 1.25em;
    margin-top: 0.15em;
}